.logo{
background-color:#3b5998;
height:119px;
}

.email{
color:#FFFFFF;
margin-top:25px;
}

p{
margin-top:50px;

font-size:20px;
color:#000033;
font-weight:bold;
}

.tablecolor{
color:#000033;
font-family:Georgia, "Times New Roman", Times, serif;
}

.btn{
color:#FFFFFF;
background-color:#006600;
width:120px;
}

.login{
background-color:#006699;
color:#FFFFFF;
}

.padding{
margin-top:50px;
font-size:20px;
color:#000033;
font-weight:bold;
padding-left:120px;
}


.bg{
background-color:#999999;
}
.facebook{
font-family:Tahoma;
font-size:83.5px;
font-weight:bold;
color:#FFFFFF;
}